<% action_url = album.persisted? ? album_url(album) : albums_url %>
<% http_method = album.persisted? ? "PATCH" : "POST" %>
<% button_text = album.persisted? ? "Update Album!" : "Add Album!" %>

<form action="<%= action_url %>" method="POST">
  <input type="hidden" name="_method" value="<%= http_method %>">
  <%= auth_token %>
  <label>Name
    <input type="text" name="album[name]" value="<%= album.name %>">
  </label>
  <br>

  <label>Band
    <select name="album[band_id]">
      <% Band.all.each do |band| %>
        <option
          <%= "selected" if album.band_id == band.id %>
          value="<%= band.id %>">
          <%= band.name %>
        </option>
      <% end %>
    </select>
  </label>
  <input type="submit" value="<%= button_text %>">
</form>
