<h1><%= @album.name %></h1>
<%= auth_token %>
<%= link_to "Edit Album", edit_album_url(@album) %>
<%= link_to "Delete Album", album_url(@album), method: :delete %>
<br>
<p>More: <%= link_to @album.band.name, band_url(@album.band) %></p>
