<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- login logout buttons -->
  <% if current_user.nil? %>
    <%= button_to "Log in", sessions_url, method: :create %>
    <%= button_to "Sign up", users_url, method: :create %>
  <% else %>
    <%= current_user.email %>
    <%= button_to "Log out", sessions_url, method: :delete %>
  <% end %>

<%= yield %>

</body>
</html>
